.modal-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  outline: none;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-content a {
  display: block;
  text-decoration: none;
  padding: 6px 8px;
  color: #2f2424;
  border-radius: 4px;
}

.modal-content a:hover {
  background-color: #ddd;
  color: #000;
}

.nav__item {
  z-index: 999;
}

.nav__item span {
  color: #F6ECD4;
  font-size: 16px;
}

.modal-btn {
  color: #F6ECD4;
  background-image: url('https://static.thenounproject.com/png/1266221-200.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  padding-left: 25px;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {text-shadow: 0 0 10px rgba(246, 236, 212, 0);}
  to {text-shadow: 0 0 10px rgb(224, 27, 27);}
}

.modal-btn.glowing {
  animation: glow 1s infinite alternate;
}

.creator-icon {
  width: 128px;
  height: 128px;
  margin-right: 4px;
  vertical-align: middle;
}

.dropdown-text {
  font-weight: bold;
  text-align: center;
}

.reminder {
  font-weight: 700;
  color: red;
  margin-left: 5px;
}

.creator-name {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}


.creator-link:hover .creator-name {
  display: block;
}

.creator-link {
  margin: 10px;
  position: relative;
}

